#thumb-container img {
    height: 100px;
    width: auto;
}

.large-image {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;

}

body {
    background-color: black;
}

h1 {
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.gallery-button {
    background-color:black;
    color:white;
    transition: background-color 0.3s;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    

}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color:blueviolet;
}

.gallery-button:hover {
    background-color:blueviolet;
}